.header {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background: blue;

  &__link {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    transition: all 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
